doctype
html
  head
    meta(charset='UTF-8')
    title 導覽列 - 中心綜合醫院疝氣中心
    meta(name='description' content='提供的服務由電子商務代營運出發，依據市場情報，實戰經驗，搭配數據實證，為客戶提供全方位的商務解決方案。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    .navbar-topbar.d-flex.justify-content-between(style="background-color: #12665C")
      .navbar-contact-info
        a(href="tel:+886-2-7733-7030")
          .navbar-contact-phone
            img(src="https://hernia-center.org.tw/wp-content/uploads/2022/09/phone-fill-white.png")
            .fz-16 預約諮詢專線 : 02-7733-7030
        a(href="https://g.page/taipeiherniacenter?share" target="_blank")
          .navbar-contact-address
            img(src="https://hernia-center.org.tw/wp-content/uploads/2022/09/location-fill-white.png")
            .fz-16 台北市大安區忠孝東路四段77號12樓
      .navbar-social
        a.navbar-social-facebook(href="https://www.facebook.com/www.clinic.org.tw/" target="_blank")
          img(src="https://hernia-center.org.tw/wp-content/uploads/2022/09/facebook-fill-white.png")
        a.navbar-social-line(href="https://lin.ee/NjK1xyl" target="_blank")
          img(src="https://hernia-center.org.tw/wp-content/uploads/2022/09/line-fill-white.png")

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://unpkg.com/popper.js')
    script(src='./js/swiper.js')